body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #f8f9fa;
}

.logo-container, .icons {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.website-name {
    font-size: 20px;
    font-weight: bold;
}

/* Container for the search bar, providing alignment and spacing */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Style for the input field */
#search-bar {
    width: 700px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

/* Style for the search button */
.search-bar button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    outline: none;
}

/* Change button appearance on hover to provide feedback */
.search-bar button:hover {
    background-color: #0056b3;
}

/* Optional: style the focus states for accessibility */
#search-bar:focus, .search-bar button:focus {
    border-color: #66afe9;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}



.icon {
    width: 30px;
    height: auto;
    margin-left: 20px;
}


.main-content {
    display: flex;
    min-height: calc(100vh - 50px);
}


/* Sidebar styling */
.sidebar {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Category heading */
.sidebar h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Category list styling */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Category item styling */
.category-item {
    margin-bottom: 10px;
}

/* Category link styling */
.category-item a {
    display: block;
    background-color: #ffffff;
    color: #007bff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

/* Hover effect for links */
.category-item a:hover {
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.05);
}


.card-container {
    width: 90%;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    height: 400px;
    width: 400px;
}

.card-container div img {
    width: 100%;
    height:70%; /* Maintain aspect ratio */
    object-fit: fill; /* Adjust based on preference */
}


.card-info {
    padding: 10px;
}


.add-to-cart-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 280px;

}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}

.add-to-cart-btn:disabled {
    cursor: not-allowed;
    background-color: #cccccc;
    color: #666666;
}


.price {
    font-size: 18px;
    font-weight: bold;
}

.description {
    margin-top: 5px;
}


/* CART.HTML */


/* Container Styling */
.container {
    display: flex;
    flex: 1;
    padding: 20px;
}

/* Style for the cart items container */
.cart-items {
    width: 70%;
    margin: 20px;
}

/* Style for the list of items */
.items-list {
    list-style-type: none;
    padding: 0;
}

/* Style for each item in the list */
.items-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

/* Style for the product details */
.items-list li img {
    margin-right: 20px;
}

.items-list li p {
    margin: 0 10px;
    flex-grow: 1;
}

.items-list li p span {
    font-weight: bold;
}


.product-name, .price {
    margin-right: 10px;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}

.delete-icon {
    width: 40px;
    height: 40px;
}
.delete-icon-button{
    background: none;
    border: none;
    cursor: pointer;
}

.delete-icon-button:focus{
    outline: none;
}

/* Order Summary Section Styling */
.order-summary {
    width: 30%;
    padding-left: 20px;
    border-left: 2px solid #ccc;
}

.order-summary h2 {
    text-align: center;
}

.checkout-btn {
    display: block;
    width: 80%; /* Adjust based on your layout, '100%' for full-width */
    padding: 10px 20px; /* Adjust padding to fit your design */
    margin-top: 20px;
    background-color: #007bff; /* Primary button color */
    color: white; /* Text color */
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover, .checkout-btn:focus {
    background-color: #0056b3; /* Darker shade for hover/focus */
    color: white; /* Keep text color the same on hover/focus */
    text-decoration: none; /* Ensure underline doesn't reappear on hover/focus */
    outline: none; /* Remove focus outline */
}


/* FOOTER */

.site-footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    align-items: center;
}

.footer-logo-image {
    width: 120px;
    height: auto;
    display: block;
}


.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #aaa;
}

.footer-contact p, .footer-contact .social-icons {
    margin: 0;
    padding: 5px 0;
}

.social-icons {
    display: flex;
}

.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.social-icon:last-child {
    margin-right: 0;
}


.footer-column {
    flex: 1;
}


/* PROFILE */


.profile-container {
    display: flex;
    height: 100%;
}

.profile-sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
}

.profile-info {
    text-align: center;
    margin-bottom: 30px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

.profile-actions {
    list-style-type: none;
    padding: 0;
}

.profile-actions li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.profile-details {
    width: 80%;
    padding: 20px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.detail {
    width: 48%;
}

.detail label {
    display: block;
    margin-bottom: 5px;
}

.detail input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


/* CHECKOUT MODAL */

.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: fixed;
    margin-left: 40%;
    margin-top: 15%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: auto;

}



.modal-confirm-btn, .modal-cancel-btn {
    padding: 10px 20px;
    margin: 10px 5px 0 0; /* Adjust spacing around buttons */
    border: none;
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    cursor: pointer;
    outline: none; /* Remove focus outline */
    transition: background-color 0.2s; /* Smooth background transition */
}

.modal-confirm-btn {
    background-color: #4CAF50; /* Green */
    color: white;
}

.modal-cancel-btn {
    background-color: #f44336; /* Red */
    color: white;
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Needed for <a> tags to properly apply padding and border-radius */
}

.modal-confirm-btn:hover,
.modal-cancel-btn:hover {
    opacity: 0.8; /* Slight transparency on hover */
}