<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>MarketBridge</title>
    <link href="/style.css" rel="stylesheet">


</head>
<body>
<header class="header">
    <div class="logo-container">
        <a th:href="@{/home}">
            <img alt="Logo" class="logo" src="/icons/logo.png">
        </a>
        <span class="website-name">MarketBridge.com</span>
    </div>
    <form action="/home/search" method="get">
        <div class="search-bar">
            <input name="query" id="search-bar" placeholder="Search..." type="text">
            <button type="submit">Search</button>
        </div>
    </form>
    <div class="icons">
        <a th:href="@{/cart}">
            <img alt="Cart" class="icon" src="/icons/cart-large-2-svgrepo-com.png">
        </a>


        <a th:href="@{/profile}">
            <img alt="My Profile" class="icon" src="/icons/profile-circle-svgrepo-com.png">
        </a>
    </div>
</header>

<div class="main-content">
    <aside class="sidebar">
        <h2>Categories</h2>
        <ul>
            <li th:each="category : ${categories}" class="category-item">
                <a th:href="@{/home/category(category=${category.categoryName})}" th:text="${category.categoryName}"></a>
            </li>
            <li class="category-item">
                <a th:href="@{/home/category(category='all')}">Show All</a>
            </li>
        </ul>
    </aside>





    <section class="card-container">
        <!-- CARDS WILL BE LOADED USING MODEL -->
        <div th:each="product : ${products}" class="card">
            <!-- Each product will be referred to as 'product' inside this loop -->
            <img th:src="@{${product.imageUrl}}" th:alt="${product.description}" />
            <div class="card-info">

                <span class="price" th:text="${product.price}+'$'"></span>
                <p class="description" th:text="${product.name}"></p>

                <form th:action="@{/cart/add}" method="post">
                    <input type="hidden" name="productId" th:value="${product.id}" />
                    <button type="submit" class="add-to-cart-btn" th:disabled="${product.inCart}" th:text="${product.inCart} ? 'In Cart' : 'Add to Cart'"></button>
                </form>
            </div>
        </div>
    </section>


</div>


<footer class="site-footer">
    <div class="footer-column footer-logo">
        <img alt="Logo" class="footer-logo-image" src="/icons/logo.png">
        <span class="website-name">MarketBridge.com</span>
    </div>
    <div class="footer-column footer-links">
        <ul>
            <li><a href="#about">About Us</a></li>
            <li><a href="#team">Our Team</a></li>
            <li><a href="#blog">Blog</a></li>
        </ul>
    </div>
    <div class="footer-column footer-contact">
        <p>Contact Us</p>
        <p>Phone Number: +1234567890</p>
        <p>Email: contact@marketbridge.com</p>
        <p>Address: 123 Main St, City, Country</p>
        <div class="social-icons">
            <a href="https://www.facebook.com"><img alt="Facebook" class="social-icon" src="/icons/facebook.png"></a>
            <a href="https://www.instagram.com"><img alt="Instagram" class="social-icon" src="/icons/instagram (1).png"></a>
        </div>
    </div>
</footer>


</body>
</html>
